body {
    font-size: .875rem;
}
.launch-dashboard .navbar-right-menu{
    flex-direction: unset;
    display: flex;
    margin-bottom: 0;
    align-items: center;
}
.launch-dashboard .avatar-img{
    width: 36px;
}
.launch-dashboard .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}
.launch-dashboard .sidebar-sticky {
    position: sticky;
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.launch-dashboard .sidebar .nav-link {
    font-weight: 500;
    color: #333;
}
.launch-dashboard .sidebar .nav-link.active {
    color: #007bff;
}
.launch-dashboard .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}
.launch-dashboard .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
.launch-dashboard .sidebar .nav-link:hover .feather, .launch-dashboard .sidebar .nav-link.active .feather {
    color: inherit;
}
/*launch timeline css starts*/
.launch-dashboard .timeline.container {
    display: flex;
    flex: auto;
    flex-direction: column;
    max-height: 100%;
  }
.launch-dashboard .timeline .item {
    display: flex;
    flex: auto;
    overflow-y: auto;
    padding: 0rem 1rem 0rem 1rem;
    height: 250px;
}
  
.launch-dashboard .timeline #timeline {
    position: relative;
    display: table;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
 }
.launch-dashboard .timeline #timeline div:after {
    content: "";
    width: 2px;
    position: absolute;
    top: 0.5rem;
    bottom: 0rem;
    left: 60px;
    z-index: 1;
    background: #C5C5C5;
}
.launch-dashboard .timeline #timeline h3 {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    color: #888;
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}
@media (min-width: 62em) {
    .launch-dashboard .timeline #timeline h3 {
      font-size: 1.1em;
    }
}
.launch-dashboard .timeline #timeline section.year {
    position: relative;
}
.launch-dashboard .timeline #timeline section.year section {
    position: relative;
    padding-bottom: 1.25em;
    margin-bottom: 2.2em;
}
.launch-dashboard .timeline #timeline section.year section h4 {
    position: absolute;
    bottom: 0;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    padding: 0 0 0 89px;
    color: #C5C5C5;
}
@media (min-width: 62em) {
    .launch-dashboard .timeline #timeline section.year section h4 {
      font-size: 1em;
    }
}
.launch-dashboard .timeline #timeline section.year section ul {
    list-style-type: none;
    padding: 0 0 0 75px;
    margin: -1.35rem 0 1em;
    max-width: 32rem;
    font-size: 1em;
}
@media (min-width: 62em) {
    .launch-dashboard .timeline #timeline section.year section ul {
      font-size: 1.1em;
      padding: 0 0 0 81px;
    }
}
.launch-dashboard .timeline #timeline section.year section ul:last-child {
    margin-bottom: 0;
}
.launch-dashboard .timeline #timeline section.year section ul:first-of-type:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #87d0fb;
    border: 2px solid #0f10c3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 54px;
    top: 3px;
    z-index: 2;
}
.launch-dashboard .timeline #timeline section.year section ul li {
    margin-left: 0.5rem;
}
.launch-dashboard .timeline #timeline section.year section ul li:before {
    content: "·";
    margin-left: -0.5rem;
    padding-right: 0.3rem;
}
.launch-dashboard .timeline #timeline section.year section ul li:not(:first-child) {
    margin-top: 0.5rem;
}
/*launch timeline css ends*/