<div class="timeline container">
    <div class="item">
        <div id="timeline">
            <div>
                <section class="year" *ngFor="let item of sortedLaunchData; let i=index;">
                    <h3>{{item[0].launch_date_utc | date: 'yyyy'}}</h3>
                    <section *ngFor="let el of item; let d=index">
                        <h4>{{el?.launch_date_utc | date: 'MMMM'}}</h4>
                        <ul>
                            <li>Rocket Name: {{el?.rocket?.rocket_name}}</li>
                            <li>Launch Site: {{el?.launch_site?.site_name}}</li>
                        </ul>
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>